<div id="for" class="container">
  <h1 id="lab" style="color:red;">Nueva orden de trabajo</h1>
<h3 style="background-color: gray;">Cliente</h3>
  <div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1"></span>
  <input type="text" class="form-control" placeholder="Nombre y Apellido" aria-describedby="basic-addon1">
</div>


  <div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1"></span>
  <input type="text" class="form-control" placeholder="Numero de Telefono" aria-describedby="basic-addon1">
</div>


<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon3"></span>
  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="Direccion">
</div>


 <h3 style="background-color: gray;">Vehiculo</h3>

 <div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1"></span>
  <input type="text" class="form-control" placeholder="Numero de Placa" aria-describedby="basic-addon1">
</div>
<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1"></span>
  <input type="text" class="form-control" placeholder="Marca" aria-describedby="basic-addon1">
</div>
<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1"></span>
  <input type="text" class="form-control" placeholder="Linea"  aria-describedby="basic-addon1">
</div>
<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1"></span>
  <input type="text" class="form-control" placeholder="Año"  aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon3"></span>
  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="Color">
</div>

<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon3"></span>
  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="Observaciones">
</div>

<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-primary">Editar</button>
  <button type="button" class="btn btn-primary">Generar nueva orden de trabajo</button>
  <button type="button" class="btn btn-primary">Volver atras</button>
</div>

</div>
