<div id="back" class="container-fluid bg-secondary">
  <nav class="navbar navbar-expand-lg navbar-dark bg-secundary">
    <div class="container-fluid">

      <a class="navbar-brand" >Servicios Automotrices JM</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNav">
        <ng-container *ngIf="login(); ">
          <ul class="navbar-nav  font-weight-bold ">
            <li class="nav-item">
              <a class="nav-link " routerLink="clientes">Clientes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="proveedores">Proveedores</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="product">Inventario</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="mechanic">Mecanicos</a>
            </li>
            <li class="nav-item">
              <li>
                <div class="dropdown ">
                  <button class="btn font-weight-bold dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Vehiculos
                  </button>
                  <div class="dropdown-menu font-weight-bold ">
                    <a class="dropdown-item font-weight-bold " routerLink="car">Listado de vehiculos</a>
                    <a class="dropdown-item font-weight-bold " routerLink="brand">Listado de marcas</a>
                    <a class="dropdown-item font-weight-bold " routerLink="line">Listado de lineas</a>
                  </div>
                </div>
              </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="orden-de-trabajo">Bitacora</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="job">Asignación de trabajo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="logOut()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                  <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                </svg>
                Cerrar Sesion
              </a>
            </li>
          </ul>
        </ng-container>

      </div>
    </div>
  </nav>
</div>
<div id="spaceWork" class="container mt-3">
  <router-outlet></router-outlet>
</div>
