<div class="form-group">
  <div class="row">
    <div class="col">
      <button type="button" (click)="onChangeMode(null,'Guardar')" data-toggle="modal" data-target="#ModalCustumer"
        class="btn btn-primary btn-block">Agregar Nuevo Cliente</button>
    </div>
  </div>

</div>
<div class="form-group">
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Direccion</th>
            <th scope="col">Telefono</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of dataSource?.message">
            <th scope="row">{{item.firstName}}</th>
            <td>{{item.lastName}}</td>
            <td>{{item.address}}</td>
            <td>{{item.phone}}</td>
            <td><button type="button" (click)="onChangeMode(item,'Editar')" data-toggle="modal"
                data-target="#ModalCustumer" class="btn btn-warning btn-block">Editar</button></td>
            <td><button type="button" (click)="onChangeMode(item,'Eliminar')"
                class="btn btn-danger btn-block">Eliminar</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="ModalCustumer" tabindex="-1" role="dialog" aria-labelledby="ModalCustumerLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalCustumerLabel">{{mode}} Cliente</h5>
        <button type="button" class="close" data-dismiss="modal" ngClass="onReset()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <input type="text" name="firstName" class="form-control" placeholder="Nombre" [(ngModel)]="form.firstName">
          </div>
          <div class="form-group">
            <input type="text" name="lastName" class="form-control" placeholder="Apellido" [(ngModel)]="form.lastName">
          </div>
          <div class="form-group">
            <input type="text" name="address" class="form-control" placeholder="Direccion" [(ngModel)]="form.address">
          </div>
          <div class="form-group">
            <input type="text" name="phone"  class="form-control" placeholder="Telefono" [(ngModel)]="form.phone">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" ngClass="onReset()" data-dismiss="modal">Cerrar</button>
        <button type="button" (click)="ngSubmit()" class="btn btn-primary">{{mode}}</button>
      </div>
    </div>
  </div>
</div>
