<div id="for" class="container">
  <h1 id="lab" style="color:red;">Registrar Cliente</h1>
<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1"></span>
  <input type="text" class="form-control" placeholder="Nombre y Apellido" aria-label="Username" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Numero de Telefono" aria-label="Recipient's username" aria-describedby="basic-addon2">
  <span class="input-group-text" id="basic-addon2"></span>
</div>


<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon3"></span>
  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="Direccion">
</div>

<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-primary">Editar</button>
  <button type="button" class="btn btn-primary">Registrar nuevo cliente</button>
  <button type="button" class="btn btn-primary">Volver atras</button>
</div>

</div>
