<ng-wizard ng-wizard-theme-arrows [config]="config" (stepChanged)="stepChanged($event)">

  <ng-wizard-step [title]="'Mecanicos'" [description]="'Datos del mecanico'"
    [canEnter]="isValidTypeBoolean" [canExit]="isValidFunctionReturnsBoolean.bind(this)">
    <span>Paso 1</span>
    <div class="form-group">
      <div class="row">
        <div class="col">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Telefono</th>
                <th scope="col">Bonificación V/F</th>
                <th scope="col">Seleccionar</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of dataSourceMech?.message">
                <th scope="row">{{item.firstName}}</th>
                <td>{{item.lastName}}</td>
                <td>{{item.phone}}</td>
                <td>{{item.checkBonus}}</td>
                <td><button type="button" (click)="onChangeMode(item.uuidMechanic,'mechanic')" data-toggle="modal"
                    data-target="#ModalMechanic" class="btn btn-warning btn-block">Seleccionar</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </ng-wizard-step>

  <ng-wizard-step [title]="'Vehiculo'" [description]="'Datos del Vehiculo'"
  [canEnter]="isValidTypeBoolean" [canExit]="isValidFunctionReturnsBoolean.bind(this)">
  <span>Paso 2</span>
 <!-- <div class="form-group">
    <div class="row">
      <div class="col">
        <button type="button" (click)="onChangeMode(null,'Guardar')" data-toggle="modal" data-target="#ModalCar"
          class="btn btn-primary btn-block">Agregar nuevo Vehiculo</button>
      </div>
    </div>

  </div>
  <div class="form-group">
    <div class="row">
      <div class="col">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Marca</th>
              <th scope="col">Linea</th>
              <th scope="col">Cliente</th>
              <th scope="col">Placa</th>
              <th scope="col">Año</th>
              <th scope="col">Color</th>
              <th scope="col">Estado</th>
              <th scope="col">Editar</th>
              <th scope="col">Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of dataSource?.message">
              <th scope="row">
              {{item.uuidBrand}}</th>
              <td>{{item.uuidLine}}</td>
              <td>{{item.uuidCustumer}}</td>
              <td>{{item.plate}}</td>
              <td>{{item.year}}</td>
              <td>{{item.color}}</td>
              <td>{{item.status}}</td>

              <td><button type="button" (click)="onChangeMode(item,'Editar')" data-toggle="modal"
                  data-target="#ModalCar" class="btn btn-warning btn-block">Editar</button></td>
              <td><button type="button" (click)="onChangeMode(item,'Eliminar')"
                  class="btn btn-danger btn-block">Eliminar</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>



  <div class="modal fade" id="ModalCar" tabindex="-1" role="dialog" aria-labelledby="ModalCar"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalCarLabel">{{mode}} Carros </h5>
          <button type="button" class="close" data-dismiss="modal" ngClass="onReset()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <input type="text" name="uuidBrand" class="form-control" placeholder="Marca" [(ngModel)]="formCar.uuidBrand">
            </div>
            <div class="form-group">
              <input type="text" name="uuidLine" class="form-control" placeholder="Linea" [(ngModel)]="formCar.uuidLine">
            </div>
            <div class="form-group">
              <input type="text" name="uuidCustumer" class="form-control" placeholder="Cliente" [(ngModel)]="form.uuidCustumer">
            </div>
            <div class="form-group">
              <input type="text" name="plate"  class="form-control" placeholder="Placa" [(ngModel)]="form.plate">
            </div>
            <div class="form-group">
              <input type="text" name="year"  class="form-control" placeholder="Año" [(ngModel)]="form.year">
            </div>
            <div class="form-group">
              <input type="text" name="color"  class="form-control" placeholder="Color" [(ngModel)]="form.color">
            </div>
            <div class="form-group">
              <input type="text" name="status"  class="form-control" placeholder="Status" [(ngModel)]="form.status">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" ngClass="onReset()" data-dismiss="modal">Cerrar</button>
          <button type="button" (click)="ngSubmit()" class="btn btn-primary">{{mode}}</button>
        </div>
      </div>
    </div>
  </div>





--->
  </ng-wizard-step>

  <ng-wizard-step [title]="'Productos'" [description]="'Datos de los productos'">
    <span>Datos de productos</span>
  </ng-wizard-step>

  <ng-wizard-step [title]="'Descripcion'" [description]="'Descripcion del trabajo'">
    <span>Trabajo a realizar</span>



   <button type="button"  class="btn btn-primary">Guardar</button>
 </ng-wizard-step>
</ng-wizard>
