<div class="form-group">
  <div class="row">
    <div class="col">
      <button type="button" (click)="onChangeMode(null,'Guardar')" data-toggle="modal" data-target="#ModalMechanic"
        class="btn btn-primary btn-block">Agregar Nuevo Mecanico</button>
    </div>
  </div>

</div>
<div class="form-group">
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Telefono</th>
            <th scope="col">Bonificación V/F</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of dataSource?.message">
            <th scope="row">{{item.firstName}}</th>
            <td>{{item.lastName}}</td>
            <td>{{item.phone}}</td>
            <td>{{item.checkBonus}}</td>

            <!--Boton editar-->
            <td><button type="button" (click)="onChangeMode(item,'Editar')" data-toggle="modal"
                data-target="#ModalMechanic" class="btn btn-success btn-block">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path
                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                  <path fill-rule="evenodd"
                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                </svg>
              </button></td>

            <!--Boton eliminar-->
            <td><button type="button" (click)="onChangeMode(item,'Eliminar')" class="btn btn-danger btn-block">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-trash-fill" viewBox="0 0 16 16">
                  <path
                    d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                </svg>
              </button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="ModalMechanic" tabindex="-1" role="dialog" aria-labelledby="ModalMechanicLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalMechanicLabel">{{mode}} Mecanico</h5>
        <button type="button" class="close" data-dismiss="modal" ngClass="onReset()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <input type="text" name="firstName" class="form-control" placeholder="Nombre" [(ngModel)]="form.firstName">
          </div>
          <div class="form-group">
            <input type="text" name="lastName" class="form-control" placeholder="Apellido" [(ngModel)]="form.lastName">
          </div>
          <div class="form-group">
            <input type="text" name="phone" class="form-control" placeholder="Telefono" [(ngModel)]="form.phone">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" ngClass="onReset()" data-dismiss="modal">Cerrar</button>
        <button type="button" (click)="ngSubmit()" class="btn btn-primary">{{mode}}</button>
      </div>
    </div>
  </div>
</div>
