<div class="form-group">
  <div class="row">
    <div class="col">
      <button type="button" (click)="onChangeMode(null,'Guardar')" data-toggle="modal" data-target="#ModalCar"
        class="btn btn-primary btn-block">Agregar nuevo Vehiculo</button>
    </div>
  </div>

</div>


<div class="form-group">
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Marca</th>
            <th scope="col">Linea</th>
            <th scope="col">Cliente</th>
            <th scope="col">Placa</th>
            <th scope="col">Año</th>
            <th scope="col">Color</th>
            <th scope="col">Estado</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of dataSource?.message" >
            <th scope="row">
            {{item.brand}}</th>
            <td>{{item.line}}</td>
            <td>{{item.firstName}} {{item.lastName}}</td>
            <td>{{item.plate}}</td>
            <td>{{item.year}}</td>
            <td>{{item.color}}</td>
            <td>{{item.status}}</td>

            <td><button type="button" (click)="onChangeMode(item,'Editar')" data-toggle="modal"
                data-target="#ModalCar" class="btn btn-warning btn-block">Editar</button></td>
            <td><button type="button" (click)="onChangeMode(item,'Eliminar')"
                class="btn btn-danger btn-block">Eliminar</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="ModalCar" tabindex="-1" role="dialog" aria-labelledby="ModalCar"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalCarLabel">{{mode}} Carros </h5>
        <button type="button" class="close" data-dismiss="modal" ngClass="onReset()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <select [(ngModel)]="form.uuidBrand" name="uuidBrand" class="form-control">
              <option value="">Seleccione Marca</option>
              <option [value]="item.uuidBrand" *ngFor="let item of dataSourceBrand?.message">{{item.brand}}</option>
            </select>
          </div>
          <div class="form-group">
            <select [(ngModel)]="form.uuidLine" name="uuidLine" class="form-control">
              <option value="">Seleccione Linea</option>
              <option [value]="item.uuidLine" *ngFor="let item of dataSourceLine?.message">{{item.line}}</option>
            </select>
          </div>
          <div class="form-group">
            <select [(ngModel)]="form.uuidCustumer" name="uuidCustumer" class="form-control">
              <option value="">Seleccione el cliente</option>
              <option [value]="item.uuidCustumer" *ngFor="let item of dataSourceCustumer?.message">{{item.firstName}} {{item.lastName}}</option>
            </select>
          </div>
          <div class="form-group">
            <input type="text" name="plate"  class="form-control" placeholder="Placa" [(ngModel)]="form.plate">
          </div>
          <div class="form-group">
            <input type="text" name="year"  class="form-control" placeholder="Año" [(ngModel)]="form.year">
          </div>
          <div class="form-group">
            <input type="text" name="color"  class="form-control" placeholder="Color" [(ngModel)]="form.color">
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" ngClass="onReset()" data-dismiss="modal">Cerrar</button>
        <button type="button" (click)="ngSubmit()" class="btn btn-primary">{{mode}}</button>
      </div>
    </div>
  </div>
</div>
